@charset "UTF-8";

body{
   background-color: aqua;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px; 
}
h1{
    color: blueviolet;
    background: darkgray;
}
h2{
    color: brown;
}
p{
    text-align: justify;
}

